			
			
			form.myform {
				font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
			}
			
			form.myform ul {
				list-style: none;
			}
			
			form.myform label {
				display: inline-block;
				width: 200px;
			}
			
			form.myform span.valstatus {
				display: inline-block;
				width: 150px;
			}
			
			form.myform input {
				display: inline-block;
				width: 150px;
			}